<div  *ngIf ="newThread">
  <mat-dialog-content class="mat-typography">
    <br>
<mat-card>
    <mat-card-title>Create a thread</mat-card-title>
    <hr>
    <mat-card-content> 
        <form [formGroup]="this.forumService.form" (ngSubmit)="onSubmit()">
            <input type="hidden" id="_Id" formControlName="_id" >
            <div class="form-group"> 
              <label >Title*</label>
              <input type="text" class="form-control" formControlName="title" required [ngClass]="{'is-invalid':
              this.forumService.form.get('title').touched && this.forumService.form.get('title').invalid}">
              <div class="invalid-feedback">
                  <div>Title is required!</div>
              </div>
            </div>
            <div class="form-group">
                <label >Body*</label>
                <angular-editor formControlName="body" [config]="editorConfig" required
                [ngClass]="{'is-invalid':
              this.forumService.form.get('body').touched && this.forumService.form.get('body').invalid}"
                ></angular-editor>
                <div class="invalid-feedback">
                  <div>Content is required!</div>
              </div>
            </div>
            <div class="form-group">
              <label>Image/Screenshot</label>
              <input type="file" (change)="uplodeImage($event)" accept="image/x-png,image/gif,image/jpeg">
              <div class="srolling" *ngIf = "image" >
                <img [src]="image" width="auto" height="auto">
                 </div>
            </div>
              <div class="form-group" *ngIf="flag ;  else elseBlock">
                
                <mat-form-field>
                  <label >Forum Type</label>
                  <mat-select
                  type ="text"
                  formControlName="type"
                  class="form-control"
                  required
                  [ngClass]="{'is-invalid':
              this.forumService.form.get('type').touched && this.forumService.form.get('type').invalid}"
                  >
                    <mat-option *ngFor="let types of forumTypes" [value]="types">
                      {{types}}
                    </mat-option>
                  </mat-select>
                  <div class="invalid-feedback">
                    <div>Type is required!</div>
                </div>
                </mat-form-field>
              </div>
              <ng-template #elseBlock>
                <div class="form-group">
                <input type="hidden" id="type" formControlName="type" [ngModel]="type" required>
                <span>Thread type is <strong>{{type}}</strong></span>
                </div>
              </ng-template>
            <!-- <button type="submit" class="btn btn-primary" [disabled]="!this.forumService.form.valid">Submit</button> -->
          </form>
      </mat-card-content>
</mat-card>
<br>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-flat-button color="primary" type="submit"[mat-dialog-close]="true" (click) = "onSubmit()" [disabled]="!this.forumService.form.valid">Submit</button>
</mat-dialog-actions>
</div>
<div *ngIf ="newForum">
  <mat-dialog-content class="mat-typography">
    <br>
  <mat-card>
      <mat-card-title>Create new Forum type</mat-card-title>
      <hr>
      <mat-card-content> 
          <form [formGroup]="this.forumService.formType" (ngSubmit)="newType()">
            <input type="hidden" formControlName="_id" />
            <div class="form-group">
              <input type="hidden" id="forumOwner" formControlName="forumOwner" [ngModel]="user" required>
              <span>Forum owner is <strong>{{user}}</strong></span>
              </div>
              <div class="form-group" *ngIf="!type ;  else elseBlock1"> 
                <label >Type*</label>
                <input  [(ngModel)]="tag" type="text" class="form-control" formControlName="type" required [ngClass]="{'is-invalid':  this.forumService.formType.get('type').errors &&
                this.forumService.formType.get('type').touched && this.forumService.formType.get('type').invalid}">
                <span class="invalid-feedback" *ngIf ="this.forumService.formType.get('type').errors &&
                this.forumService.formType.get('type').touched && this.forumService.formType.get('type').invalid">

                <span *ngIf ="this.forumService.formType.get('type').errors?.required">
                    <div>Type is required!</div>
              </span>
                <span *ngIf ="this.forumService.formType.get('type').errors?.checkDblicate">
                  This Forum Type Name is already exist!
                </span>
                </span>
              </div>
              <ng-template #elseBlock1>
                <div class="form-group">
                <input type="hidden" id="type" formControlName="type" [ngModel]="type" required>
                <span>Thread type is <strong>{{type}}</strong></span>
                </div>
              </ng-template>
              <div class="form-group">
                <label for="exampleFormControlTextarea1">Add short description about Forum you Created*</label>
                 <textarea placeholder="description..."  formControlName="description" class="form-control" id="exampleFormControlTextarea1" rows="3"required
                [ngClass]="{'is-invalid':
                this.forumService.formType.get('description').touched && this.forumService.formType.get('description').invalid}"></textarea>
                <div class="invalid-feedback">
                  <div>Short description required!</div>
              </div> 
              </div>
            <div class="row">
              <div class="col-6">
              <div class="form-group"> 
                <label >Select teachers for moderate your Forum*</label>
              <!-- <mat-form-field > -->
                <mat-select class="form-control" formControlName="teachers"  multiple required [ngClass]="{'is-invalid':
                this.forumService.formType.get('teachers').touched && this.forumService.formType.get('teachers').invalid}">
                  <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
                </mat-select>
                 <div class="invalid-feedback">
                    <div>At least one moderater required</div>
                 </div>
              <!-- </mat-form-field> -->      
              </div>
              </div>
            </div>               
              </form>
        </mat-card-content>
  </mat-card>
  <br>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-flat-button color="primary" type="submit"[mat-dialog-close]="true" (click) = "newType()" [disabled]="!this.forumService.formType.valid">Submit</button>
  </mat-dialog-actions>
</div>

<div *ngIf ="updateForum">
  <mat-dialog-content class="mat-typography">
    <br>
  <mat-card>
      <mat-card-title>Update Forum </mat-card-title>
      <hr>
      <mat-card-content> 
          <form [formGroup]="this.forumService.updateForm" (ngSubmit)="updateF()">
            <input type="hidden" formControlName="_id" />             
                <div class="form-group">
                <span>Thread type is <strong>{{type}}</strong></span>
                </div>
  
              <div class="form-group">
                <label for="exampleFormControlTextarea1">Add short description about Forum you Created*</label>
                 <textarea placeholder="description..."  formControlName="description" class="form-control" id="exampleFormControlTextarea1" rows="3"required
                [ngClass]="{'is-invalid':
                this.forumService.updateForm.get('description').touched && this.forumService.updateForm.get('description').invalid}"></textarea>
                <div class="invalid-feedback">
                  <div>Short description required!</div>
              </div> 
              </div>
            <div class="row">
              <div class="col-6">
              <div class="form-group"> 
                <label >Select teachers for moderate your Forum*</label>
              <!-- <mat-form-field > -->
                <mat-select class="form-control" formControlName="teachers"  multiple required [ngClass]="{'is-invalid':
                this.forumService.updateForm.get('teachers').touched && this.forumService.updateForm.get('teachers').invalid}">
                  <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
                </mat-select>
                 <div class="invalid-feedback">
                    <div>At least one moderater required</div>
                 </div>
              <!-- </mat-form-field> -->      
              </div>
              </div>
            </div>               
              </form>
        </mat-card-content>
  </mat-card>
  <br>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-flat-button color="primary" type="submit"[mat-dialog-close]="true" (click) = "updateF()" [disabled]="!this.forumService.updateForm.valid">Update</button>
  </mat-dialog-actions>
</div>

