<div class="container">

    <div class="row">
        <div class="col">
        <mat-card>
            <span *ngIf="getThread?.owner.teacherFlag" class="badge badge-pill badge-info">Teacher</span>
            <span *ngIf="getThread?.owner.studentFlag"  class="badge badge-pill badge-dark">Student</span>
            <div class="float-md-right">
                <button mat-icon-button color="primary" (click)="refreshThread(threadId)" title="Refresh" *ngIf="threadUpdate">
                    <mat-icon>refresh</mat-icon>
                  </button>
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                    <mat-icon>expand_more</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item  (click)="edit(threadId)" [disabled] = "threadOwner != user.id" >
                      <mat-icon>edit</mat-icon>
                      <span>Edit</span>
                    </button>
                    <button mat-menu-item   (click)="deleteThread(threadId)"  [disabled] = "threadOwner != user.id">
                      <mat-icon>delete</mat-icon>
                      <span>Delete</span>
                    </button>
                  </mat-menu>
            </div>
            <br>
            <mat-card-header>
                <mat-card-title>
                    <img class="rounded-circle mr-3" height="30px" width="30px" alt="avatar"src=" http://localhost:4200/assets/img/faces/ayo-ogunseinde-2.jpg">
                    <span style="color:rgb(84, 84, 219)">{{getThread?.owner.name}}</span> - <span>{{getThread?.timeAgo}}</span><br>
                </mat-card-title>
                <br>
                <mat-card-subtitle>
                    <span> {{getThread?.votes}} : Votes</span>
                    <span><strong><h3>
                        {{getThread?.title}}
                    </h3></strong></span>                   
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
               <div class="boder1"><p [innerHTML]="threadBody"></p></div>
               <br>
            <div class="srolling" *ngIf = "threadImage">      
                <img [src]="threadImage" width="auto" height="auto">
            </div>
            </mat-card-content>
            <hr>
            <mat-card-footer>
                <div *ngIf="!status ; else elseBlock" >
            <button type="button" class="btn btn-primary" (click)="onChange()">
               <i class="fa fa-comment" aria-hidden="true"></i>{{!open ? 'Reply' : 'Hide'}}
              </button> 
              <button  type="button" class="btn btn-primary" [disabled] = "vUp || threadOwner == user.id"
               (click)="voteUp(getThread)">
               <i class="fa fa-chevron-up" aria-hidden="true"></i>UpVote
              </button> 
              <button  type="button" class="btn btn-primary" [disabled] = "vDown || threadOwner == user.id"
              (click)="voteDown(getThread)">
              <i class="fa fa-chevron-down" aria-hidden="true"></i>DownVote
              </button>
              <button  type="button" class="btn btn-warning" *ngIf = "threadOwner == user.id" (click)="changeStatus()" title=" this thread">
              <i class="fa fa-window-close" aria-hidden="true"></i> Close
                </button> 
        
                </div>
                <ng-template #elseBlock>
                    <div class="alert alert-info" style="text-align: center;" role="alert">
                        This thread is closed by - {{getThread?.owner.name}}
                      </div>
                      <button  type="button" class="btn btn-primary" *ngIf = "threadOwner == user.id" (click)="changeStatus()" title="open this thread">open Thread
                          </button> 
                  </ng-template>
             
            </mat-card-footer>
        </mat-card>
        </div>
      </div>
  </div>
  <br>
  <div class="container">
      <div class="row" *ngIf="open">
          <div class="col">
              <!-- <app-comment-thread></app-comment-thread> -->
              <div class="container-fuild">
                <div class="input">
                    <input type="hidden" id="id" [ngModel]="comment._id" >
                    <angular-editor [placeholder]="'Reply'" [(ngModel)]="comment.body" [config]="editorConfig" name="body" #body="ngModel" required
                  [ngClass]="{'is-invalid': body.touched && body.invalid}"></angular-editor>
                     <div class="float-md-right">
                        <button type="button" class="btn btn-primary" [disabled]="body.invalid" (click)="on(comment)">{{!update ? 'Reply' : 'Update'}}</button>
                    </div>
                    <div class="float-md-right" *ngIf="update">
                        <button type="button" class="btn btn-primary" (click)="cancelUpdate()">Cancel</button>
                    </div>
                    <div class="invalid-feedback">
                        <div>Content is required!</div>
                    </div>
                </div>
            </div>
          </div>
      </div>
  </div>
  <div class="container" *ngFor="let cmt of comments">
    <div class="row" >
        <div class="col" style="margin-bottom: 10px;">
            <span>{{cmt.owner}}</span>: <span>{{cmt.date}}</span><br>
            <p [innerHTML]="cmt.comment"></p>

        <button  type="button" class="btn btn-primary"  (click)="viewcReply = cmt._id; test(); getCommentId(cmt._id)"> {{viewReply && cmt._id == selectCommentId ? 'Hide' : 'Show'}}
        </button>
        <button  type="button" class="btn btn-primary" (click)="editComment(cmt)" [disabled]="user.name != cmt.owner" *ngIf="!status"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        </button>
        <button  type="button" class="btn btn-danger" (click)="deleteComment(cmt._id)" [disabled]="user.name != cmt.owner" *ngIf="!status"><i class="fa fa-trash" aria-hidden="true"></i></button>
    </div>
    </div>
          <!-- <div class="row"> -->
                <ng-template [ngIf] = "selectCommentId == cmt._id && viewReply">                
                        <app-reply-comment [Data]="selectCommentId" [Data2]="threadId" [Data3]="replyCount" [Data4]="status"></app-reply-comment>                
                </ng-template><br>
                <hr>    
        <!-- </div>      -->
    <!-- </div> -->
</div>