<!-- <div>
  <ngb-alert type="danger" close="closeAlert()" ng-if="show" 
       dismiss-on-timeout="2000">{{messege}}</ngb-alert>
</div> -->

<div *ngIf="booking.date" >
    <div class="modal" id="myModal" [style.display]="showModal ? 'block' : 'none'">
      <div class="modal-dialog">
        <div class="modal-content">
  
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">My Booking</h4>
            <button type="button" class="close" data-dismiss="modal" (click)="hide()">&times;</button>
          </div>
  
          <!-- Modal body -->
          <div class="modal-body">
            <form>
  
              <div class="form-group">
                <input type="input" class="form-control" name="date" required placeholder="date"
                  [(ngModel)]="booking.date" readonly>
              </div>
              <div class="form-group">
                <input type="input" class="form-control" name="start" required placeholder="time"
                  [ngModel]="booking.start | date :'shortTime'" (ngModelChange)="booking.start = $event" readonly>
              </div>
              <div class="form-group">
                <input type="input" class="form-control" name="subject" required placeholder="subject"
                  [(ngModel)]="booking.subject" readonly>
              </div>
              <div class="form-group">
                <input type="input" class="form-control" name="teacherid" required placeholder="teacher id"
                  [(ngModel)]="booking.teacherid" readonly>
              </div>
            </form>
          </div>
  
          <!-- Modal footer -->
          <div class="modal-footer">
            <div *ngIf="booking.status=='pending'">
              <button type="button" (click)="UpdateBooking(booking)" class="btn btn-primary">Update</button>
            </div>
            <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="hide()">Close</button>
          </div>
  
        </div>
      </div>
    </div>
  </div>
  
  
    <div class="modal" id="deleteModal" [style.display]="deleteModal ? 'block' : 'none'" >
      <div class="modal-dialog" >
        <div class="modal-content">
  
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Delete Booking</h4>
            <button type="button" class="close" data-dismiss="modal" (click)="hidedelete()">&times;</button>
          </div>
  
          <!-- Modal body -->
          <div class="modal-body" style="background-color: rgb(253, 196, 186);">
            <h4>You want to delete this Booking</h4>
          </div>
  
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-warning" data-dismiss="modal" (click)="deleteBooking(booking)">Yes</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="hidedelete()">Cancal</button>
          </div>
  
        </div>
      </div>
    </div>


    <!-- <div>
      <div class='app'>
        <full-calendar defaultView="dayGridMonth" [plugins]="calendarPlugins" 
        theme="true"
        [weekends]="true" 
        [header]="{
            left: 'prev,next today',
            center: 'title',
            right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
          }"
        (dateClick)="handleDateClick($event)"
        (eventClick)="eventClick($event,$jsEvent,$view)"
        deepChangeDetection="true"
        [events]="calendarEvents"
        minTime= "05:00:00"
        maxTime="23:00:00"
        navLinks="true"
        [options]="options"
        businessHours=
       " {
                start: '08:00:00',
                end:   '18:00:00',
                dow: [ 1, 2, 3, 4, 5]
        }"
        eventRender="eventRender(info,element)"
        validRange= "{
          start: '2017-05-01',
          end: '2021-06-01'
        }"
        
        
      ></full-calendar>
      </div>
    </div> -->
    
  
  
