<div id="myChart">
    <!-- <button class="navitemadmin" (click)="changeTheOption('doughnut')">Doughnut charts</button>
    <button class="navitemadmin" (click)="changeTheOption('bar')">Bar Graphs</button> -->
    <div class="paddingOne" style="height: 5px;"></div>
    <h4>All Users</h4>
    <br>
    <canvas id="myCanvas"></canvas>
    <br>
    <div class="paddingtwo" style="height: 100px;"></div>
    <h4>All Forums</h4>
    <br>
    <canvas id="myCanvas2"></canvas>
    <br>
    <div class="paddingthree" style="height: 100px;"></div>
    <h4>Forum Types</h4>
    <br>
    <canvas id="myCanvas3"></canvas>
    <br>
    <div class="paddingfour" style="height: 100px;"></div>
    <h4>Booking Status</h4>
    <br>
    <canvas id="myCanvas4"></canvas>
    <br>
    <div class="paddingfive" style="height: 100px;"></div>
    <h4>Complains</h4>
    <br>
    <canvas id="myCanvas5"></canvas>
</div>
