<nav *ngIf="path!=='/login' && path!=='/register' && path!=='/passwordreset' && path!=='/updatepassword'" class="navbar navbar-expand-lg navbar-dark bg-primary">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="navbar-collapse collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" routerLink="/newbooking">New Booking</a>
            </li>
            <li class="nav-item">
                <!-- <div *ngIf="user.status=='Teacher'"> -->
                <a class="nav-link" href="#" routerLink="/teacherbooking">Teacher Booking</a>
                <!-- </div>
                <div *ngIf="user.status=='Student'"> -->
                <a class="nav-link" href="#" routerLink="/userbooking">User Booking</a>
                <!-- </div> -->

            </li>
            <!-- <div *ngIf="!user"> -->
            <li class="nav-item">
                <a class="nav-link" href="#" (click)="logoutUser()">Logout</a>
            </li>


        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>