ul {
    list-style-type: none;
}
.scrol{
    height: 200px;
    width: auto;
    overflow-y: scroll;
}
.dropdown {
    position: relative;
    display: inline-block;
   
  }
  
  .dropdown-content {
    display: block;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:click .dropdown-content {
    display: block;
  }
  .navbar .navbar-nav .dropdown-menu {
    transform: inherit;
    border-radius: inherit;
    margin-top: inherit;
    // border-radius: none;
    // margin-top: 1px;

}
.input-group{
  background: bottom;
  align-items: center;
}
