.App {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    border: 1px solid #ccc;
    color: #333;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    margin: 0;
}

h4 {
    margin: 30px;
    font-weight: bold;
    text-align: center;
    font-size: xx-large;
}

button {
    float: right; 
    margin: 20px;
    position: absolute;
}



ul {
    list-style: none;
}

li {
    font-size: 20px;
}

.message-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
}

.user-message-sender {
    margin-top: 10px;
    width: 90%;
    border-color: #fd9b08;
    border-style: solid;
    border-radius: 20px;
    border-width: 3px;
    padding: 15px;
    background-color: #fff;
    position: relative;
    right: 0px;
    text-align: left;
    margin-bottom: 60px;
}

.user-message span {
    display: block;
    right: 0px;
}

.user-id-sender {
    font-weight: bold;
    font-style: italic;
    color: #000000;
}

.navitemone {
    display: inline-block;
    width: 200px; 
    height: 50px;
    text-align: center;
    border: gray;
    border-radius: 10px;
    background-color: #fd9b08;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    right: 440px;
    margin: 20px;
}

.navitemtwo {
    display: inline-block;
    width: 200px; 
    height: 50px; 
    text-align: center;
    border: gray;
    border-radius: 10px;
    background-color: #fd9b08;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    right: 220px;
    margin: 20px;
}

.navitemthree {
    display: inline-block;
    width: 200px; 
    height: 50px;
    text-align: center;
    border: gray;
    border-radius: 10px;
    background-color: #fd9b08;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    right: 0px;
    margin: 20px;
}

.navitemthree[disabled]{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
  }

.navitemtwo[disabled]{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
  }

.column {
    float: left;
    width: 50%;
  }

  .navitemsp {
    display: inline-block;
    width: 200px; 
    height: 50px;
    text-align: center;
    border: gray;
    border-radius: 10px;
    background-color: #fd0808;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    right: 0px;
    margin: 20px;
}

.navitemadmin {
    display: inline-block;
    width: 200px; 
    height: 50px;
    text-align: center;
    border: gray;
    border-radius: 10px;
    background-color: #fd4608;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    right: 440px;
    margin: 20px;
}
  