<div class="row">
    <div class="col-sm-3" style="padding:100px; justify-content: center; flex: 1;">
       
          <h2 style="text-align: center;">Instructor Details</h2>
          <form #form="ngForm" (ngSubmit)="onSubmitAddVideo(form.value)" class="well">
             <div class="form-group">
                <label>Name : Kasun</label>
             </div>
             <div class="form-group">
                <label>Subject : Physics</label>
             </div>
             <div class="form-group">
                <label>Email : k@gmail.com</label>
             </div>
             <div class="form-group">
                <label>Rating : 4.7/5</label>
             </div>
             <div class="form-group">
                <label>Qualification : University Student</label>
             </div>
             <button type="submit" class="btn btn-success">Save</button>
          </form>
    </div>
    <div *ngIf="user">
        <div>{{user.name}}</div>
        
    </div>
 
      <div class="col-sm-9" style="padding: 100px;">
         <app-scheduler></app-scheduler>
      </div>
 </div>
