<div class="row" style="justify-content: center; align-items: center;">
   <h2>My Bookings</h2>
</div>
<hr>
<div class="row" style="padding: 50px;border: 5px solid gray; margin: 15px; background-color: rgb(181, 187, 192);">
   <div class="col-sm-3" style="border: 2px solid gray; padding: 10px; text-align: center; background-color: lightgrey;" >

      <h2 style="text-align: center;">Instructor Details</h2>
      <form #form="ngForm" (ngSubmit)="onSubmitAddVideo(form.value)" class="well">
         <div class="form-group">
            <label>Name : Kasun</label>
         </div>
         <div class="form-group">
            <label>Subject : Physics</label>
         </div>
         <div class="form-group">
            <label>Email : k@gmail.com</label>
         </div>
         <div class="form-group">
            <label>Rating : 4.7/5</label>
         </div>
         <div class="form-group">
            <label>Qualification : University Student</label>
         </div>
         <button type="submit" class="btn btn-primary">Save</button>
      </form>

      <div style="padding-top: 50px;">
         <h1>
            You have <div style="color: mediumblue; text-align: center; font-weight: bold;" >{{bookingcount}} </div>Bookings Today
         </h1>
      </div>

   </div>
   <div *ngIf="user">
      <div>{{user.name}}</div>

   </div>

   <div class="col-sm-9" style="border: 2px solid gray; padding: 10px;" >
      <table class="table table-striped table-secondary">
         <tr>
            <th>Date</th>
            <th> Time</th>
            <th>Status</th>
            <th></th>



         </tr>
         <tr *ngFor="let booking of bookings | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
            <td>{{booking.date}}</td>
            <td>{{booking.start| date:'shortTime'}}</td>
            <td>{{booking.status}}</td>
            <td><button class="btn btn-info" (click)="onSelect(booking)">View</button></td>
         </tr>
      </table>
      <ngb-pagination [collectionSize]="size" [(page)]="page" aria-label="Default pagination" [pageSize]="pageSize">
      </ngb-pagination>

   </div>
   <div>
      <app-bookingdetailteacher [booking]="SelectedBooking">
      </app-bookingdetailteacher>
   </div>
</div>