<div style="width: 90%;justify-content: center;padding-left: 10%;">
    <div class="row" style="justify-content: center; align-items: center; background-color: rgb(5, 87, 155);color: white;height: 100px;">
        <h2>My Bookings</h2>
    </div>
    <hr>
    <div class="row" style="padding: 50px;border: 2px solid gray; margin: 15px; background-color: rgb(240, 240, 240);">
        <div class="col-sm-3" style="border: 2px solid gray; padding: 10px; text-align: center; background-color: lightgrey;border-radius: 15px">

            <div style="padding-top: 50px;">
                <h1>
                    You have
                    <div style="color: mediumblue; text-align: center; font-weight: bold;">{{todaycon+todaypen}} </div>Bookings Today
                </h1>
                <br>
                <h1>Confirm
                    <div style="color: rgb(205, 24, 0); text-align: center; font-weight: bold;">{{todaycon}} </div>
                </h1>
                <h1>Pending
                    <div style="color: mediumblue; text-align: center; font-weight: bold;">{{todaypen}} </div>
                </h1>

            </div>

        </div>
        <div *ngIf="user">
            <div>{{ user.name }}</div>
        </div>

        <div class="col-sm-9" style="border: 2px solid gray; padding: 10px;border-radius: 15px">
            <ngb-tabset [destroyOnHide]="false" activeIds="ngb-tab-1" type="pills" (selectChange)="onSelectChange($event)">
                <ngb-tab title="Confirmed Bookings">
                    <ng-template ngbTabContent style="border-radius: 15px ;">
                        <table class="table table-striped table-light" style="border-radius: 15px ; margin-top:50px;color: black;">
                            <tr>
                                <th>Date</th>
                                <th>Time</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                            <ng-container *ngFor="
                let booking of booking | slice
                    : (conpage - 1) * conpageSize
                    : ((conpage - 1) * conpageSize) + conpageSize
              ">
                                <tr *ngIf="booking.status == 'confirm' ">
                                    <td>{{ booking.date }}</td>
                                    <td>{{ booking.start | date: "shortTime" }}</td>
                                    <td>{{ booking.status }}</td>
                                    <td>
                                        <button class="btn btn-info" (click)="onSelect(booking)">
                    View
                  </button>
                                    </td>
                                </tr>
                            </ng-container>
                        </table>
                        <ngb-pagination [collectionSize]="confirmsize" [(page)]="conpage" aria-label="Default pagination" [pageSize]="conpageSize">
                        </ngb-pagination>
                    </ng-template>
                </ngb-tab>

                <ngb-tab title="Pending Bookings">
                    <ng-template ngbTabContent>
                        <table class="table table-striped table-light" style="border-radius: 15px ; margin-top:50px">
                            <tr>
                                <th>Date</th>
                                <th>Time</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                            <ng-container *ngFor="
                let booking of bookings
                  | slice
                    : (penpage - 1) * penpageSize
                    : ((penpage - 1) * penpageSize) + penpageSize
              ">
                                <tr *ngIf="booking.status == 'pending' ">
                                    <td>{{ booking.date }}</td>
                                    <td>{{ booking.start | date: "shortTime" }}</td>
                                    <td>{{ booking.status }}</td>
                                    <td>
                                        <button class="btn btn-info" (click)="onSelect(booking)">
                    View
                  </button>
                                    </td>
                                </tr>
                            </ng-container>
                        </table>
                        <ngb-pagination [collectionSize]="pendingsize" [(page)]="penpage" aria-label="Default pagination" [pageSize]="penpageSize">
                        </ngb-pagination>
                    </ng-template>
                </ngb-tab>

                <ngb-tab title="Calendar">
                    <ng-template ngbTabContent>
                        <div style="border-radius: 15px ; margin-top:50px">
                            <div class="app">
                                <full-calendar [events]="calendarEvents" defaultView="dayGridMonth" [plugins]="calendarPlugins" theme="true" [weekends]="true" [header]="{
                  left: 'prev,next today',
                  center: 'title',
                  right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
                }" deepChangeDetection="true" minTime="05:00:00" maxTime="23:00:00" navLinks="true" ([options])="(options)" businessHours=" {
                                    start: '08:00:00',
                                    end:   '18:00:00',
                                    dow: [ 1, 2, 3, 4, 5]
                           }" eventRender="eventRender(info,element)" validRange="{
                              start: '2017-05-01',
                              end: '2021-06-01'
                           }">
                                </full-calendar>
                            </div>
                        </div>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>


        </div>
        <div>
            <app-bookingdetailteacher [booking]="SelectedBooking">
            </app-bookingdetailteacher>
        </div>
    </div>
</div>