<div [style.display]="alert ? 'block' : 'none'">
    <ngb-alert (close)="close(alert)">Password changed</ngb-alert>

</div>
<div class="col-lg-4 col-md-6 mx-auto">
    <div class="card card-register" style="text-align:center;color: rgb(78, 78, 78);">
        <form (submit)="updatePassword()" class="register-form">
            <fieldset>
                <div class="form-group">

                    <div class="input-group form-group-no-border">
                        <input type="hidden" class="form-control" name="email" placeholder="Enter email" [(ngModel)]="email" >
                    </div>
                </div>

                <legend class="title mx-auto">Password Change</legend>
                <div class="form-group">
                    <label for="exampleInputPassword1">New Password</label>
                    <div class="input-group form-group-no-border">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                          <i class="nc-icon nc-key-25"></i>
                        </span>
                        </div>
                        <input [type]="hide ? 'password' : 'text'" class="form-control" placeholder="Password" name="password" [(ngModel)]="password" minlength="6" required>&nbsp;
                        <mat-icon matSuffix (click)="hide = !hide" [ngStyle]="{'color':'grey'}"> {{hide ? 'visibility_off' : 'visibility'}} </mat-icon>
                    </div>
                </div>

                <div class="form-group">
                    <label for="exampleInputPassword1">Confirm Password</label>
                    <div class="input-group form-group-no-border">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                          <i class="nc-icon nc-key-25"></i>
                        </span>
                        </div>
                        <input [type]="hide ? 'password' : 'text'" class="form-control" placeholder="Password" name="password" [(ngModel)]="confirmpassword" minlength="6" required>&nbsp;
                        <mat-icon matSuffix (click)="hide = !hide" [ngStyle]="{'color':'grey'}"> {{hide ? 'visibility_off' : 'visibility'}} </mat-icon>
                    </div>
                </div>

                <button type="submit" class="btn btn-danger btn-block btn-round">Submit</button>

            </fieldset>
            <div class="error-msg" *ngIf="password !== confirmpassword && confirmpassword">
                <ngb-alert [dismissible]="false" type="warning">Password didn't Match</ngb-alert>
            </div>
        </form>
    </div>
</div>