.container-sm{
  margin-left: 50px;
 
}
li:hover {
    background-color: rgb(236, 234, 234);
  }
  
  li {
   
    color: rgb(0, 0, 0);
  }
a:link {
    text-decoration: none;
  }
  a,
  a label {
      cursor: pointer;
  }
.active-cyan-3 input[type=text] {
    border: 1px solid #4dd0e1;
    box-shadow: 0 0 0 1px #4dd0e1;
  }  