.App {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    border: 1px solid #ccc;
    color: #333;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    margin: 0;
}

h4 {
    margin-bottom: 10px;
    font-weight: bold;
}

h5 {
    font-family: 'Times New Roman';
}

button {
    float: right; 
    margin: .5%;
}

ul {
    list-style: none;
}

li {
    font-size: 20px;
}

form {
    margin-bottom: 0;
}

input[type="text"] {
    color: #333;
    border-radius: 0;
}

.sidebar {
    flex-basis: 15%;
    flex-shrink: 0;
    flex-grow: 0;
    background: linear-gradient(#f96535, #000000);
    color: #fff;
    padding: 10px 10px;
}

.left-sidebar section {
    margin-bottom: 20px;
}

.left-sidebar {
    display: flex;
    flex-direction: column;
}

.room-members {
    flex-grow: 1;
}

.right-sidebar .room {
    display: flex;
}

.newUser-input {
    margin-bottom: 0;
}

.right-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 0;
    padding-right: 0;
}

.room {
    padding: 5px 10px;
    cursor: pointer;
}

.room:hover {
    background-color: #f9d34f;
    color: #333;
}

.room.active {
    background-color: #11D771;
    color: #333;
}

.room-name {
    display: inline-block;
    margin-left: 10px;
}

.user-list li {
    padding-block-start: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-top: 30px;
}

.user-rooms li {
    font-size: 16px;
}

.presence {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #fff;
    margin-right: 10px;
    border-radius: 50%;
}

.presence.online {
    background-color: green;
}

.chat-window {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
}

.chat-header,
.chat-footer {
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.chat-header {
    border-bottom: 1px solid #000000;
    padding: 35px 300px;
    height: 100px;
    align-self: center;
}

.chat-header h4 {
    margin-bottom: 0;
}

.chat-session {
    flex-grow: 1;
    padding: 10px 20px;
    overflow-y: auto;
}

.chat-session li {
    font-size: 16px;
    align-items: center;
}

.chat-session-guides {
    flex-grow: 1;
    padding: 10px 20px;
    overflow-y: auto;
    align-self: center;
}

.message-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.user-message-sender {
    margin-top: 10px;
    width: 60%;
    border-color: #fff;
    border-style: solid;
    border-radius: 20px;
    border-width: 3px;
    padding: 15px;
    background-color: #f96535;
    position: relative;
    right: -400px;
    text-align: right;
}

.user-message-reciever {
    margin-top: 10px;
    width: 60%;
    border-color: #fd4608;
    border-style: solid;
    border-radius: 20px;
    border-width: 3px;
    padding: 15px;
}

.user-message span {
    display: block;
}

.user-message-content-reciever {
    font-size: 20px;
    margin-top: 15px;
    margin-bottom : 15px;
}

.user-message-content-sender {
    font-size: 20px;
    color: #fff;
    margin-top: 15px;
    margin-bottom : 15px;
}

.user-id-reciever {
    font-weight: bold;
    font-style: italic;
}

.user-id-sender {
    font-weight: bold;
    font-style: italic;
    color: #fff;
}

.userId {
    font-weight: bold;
}

.chat-footer {
    padding: 0;
    border-top: 1px solid #ccc;
    height: 50px;
}

.message-form {
    width: 100%;
    height: 100%;
    padding: 10px;
}

.message-input {
    width: 100%;
    border: none;
    margin-bottom: 0;
    height: 100%;
    padding: 10px;
    padding-left: 30px;
    align-content: center;
}

.message-input:focus {
    border: none;
}

.send-message {
    background-color: #300d4f;
    color: #fff;
    border: 1px solid #300d4f;
    padding: 10px;
}

.create-room {
    padding: 0 10px;
}

.create-room button {
    display: block;
}

input[type="checkbox"] {
    margin-bottom: 0;
    display: inline-block;
    margin-right: 5px;
}

.is-private {
    display: flex;
    align-items: center;
}

.user-rooms h4,
.joinable-rooms h4 {
    padding-left: 10px;
}