<div class="column" style="width: 80%;">
    <h4>Deleted Forums</h4>
</div>
<div class="column" style="width: 20%;">
    <button class="navitemsp" routerLink="/admin/viewforums">Available Forums</button>
    <button class="navitemadmin" routerLink="/admin" style="right: 225px;">Admin</button>
</div>
        <!-- <button (click)="getUsersAdmin()">press</button> -->
            <ul class="message-list">
                <li class="user-message" *ngFor="let forum of delForums">
                <section class="user-message-sender">
                    <span class="user-id-sender">Title : {{forum.title}}</span>
                    <span class="user-id-sender">Owner : {{forum.owner}}</span>
                    <span class="user-id-sender">Type : {{forum.type}}</span>
                    <span class="user-id-sender">Views : {{forum.views}}</span>
                    <span class="user-id-sender">Votes : {{forum.votes}}</span>
                    <span class="user-id-sender">Replies : {{forum.replies}}</span>
                    <span class="user-id-sender">Time Ago : {{forum.timeAgo}}</span>
                    <!-- <span *ngIf="user.teacherFlag==true" class="user-id-sender">Teacher : Yes</span>
                    <span *ngIf="(user.teacherFlag==false || user.teacherFlag==NULL)" class="user-id-sender">Teacher : No</span>
                    <span *ngIf="user.studentFlag==true" class="user-id-sender">Student : Yes</span>
                    <span *ngIf="(user.studentFlag==false || user.studentFlag==NULL)" class="user-id-sender">Student : No</span> -->
                    <!-- <span class="user-message-content-sender" >{{user.name}}</span> -->
                    <span>
                        <section>
                            <button class="navitemone" (click)="removeForum()">Remove Forum</button>
                        </section>
                    </span>
                    
                </section>
                
                </li>
            </ul>
