<div class="row" style="justify-content: center; align-items: center;color: rgb(255, 255, 255);background-color: rgb(5, 87, 155); height: 100px;">
</div>
<div class="row" style="background-color: rgb(255, 255, 255);">
    <div class="col-sm-3" style="padding-top: 20px; font-weight: bold;">
        <h1 style="text-align: center; padding-bottom: 20px;font-weight: bold;">Instructor Details</h1>
        <div class="profile" style="padding-left: 30px;">
            <h2>Kasun Nisal</h2><br>
            <table>
                <tr>
                    <td>Subject :</td>
                    <td>Physics</td>
                </tr>
                <br>
                <tr>
                    <td>Email :</td>
                    <td>kasun@gmail.com</td>
                </tr>
                <br>
                <tr>
                    <td>Qualifications :</td>
                    <td> University Student</td>
                </tr>
            </table><br>
            <h4>Rating</h4>
            <ng-template #t let-fill="fill">
                <span class="star" [class.full]="fill === 100">
                <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
                </span>
            </ng-template>

            <ngb-rating [(rate)]="currentRate" [starTemplate]="t" [readonly]="true" [max]="5"></ngb-rating><br>
            <h4>Reviews</h4><br>
            <form>
                <textarea></textarea><br>
                <button class="btn btn-primary">Review</button>
            </form>
            <hr>
            <p>Good teacher</p>
            <p>well explained subject matter</p>
        </div>

    </div>
    <div class="col-sm-9" style="border-left: solid #1e6ac2ce;">
        <div style="text-align:center ; justify-content: center; align-content: center;">
            <app-scheduler></app-scheduler>
        </div>
    </div>


</div>