<div class="container">
    <div class="row">
        <div class="col">
            <div *ngFor="let reply of replyComments">
                <span>{{reply.owner}}</span>: <span>{{reply.date}}</span><br>
                <p [innerHTML]="reply.comment"></p>
            </div>
        </div>
     </div>
     <div class="input">
        <angular-editor [placeholder]="'Reply'" [(ngModel)]="rComment.comment" [config]="editorConfig" required></angular-editor>
        <div class="float-md-right">
            <button mat-flat-button color="primary"  (click)="onComment(rComment)">Reply</button>
        </div>
     </div>       
</div>
